fastqueue_log_formatter='asctime=%(asctime)s level=%(levelname)s pathname=%(pathname)s line=%(lineno)s message=%(message)s'
fastqueue_log_level='debug'
fastqueue_log_json_format='true'

fastqueue_debug='true'
fastqueue_server_host='127.0.0.1'
fastqueue_server_port='8000'
fastqueue_server_reload='true'
fastqueue_server_num_workers='1'

fastqueue_database_url='postgresql+psycopg2://fastqueue:fastqueue@localhost:5432/fastqueue-test'

fastqueue_min_ack_deadline_seconds='1'
fastqueue_max_ack_deadline_seconds='600'
fastqueue_min_message_retention_seconds='600'
fastqueue_max_message_retention_seconds='1209600'
fastqueue_min_message_max_deliveries='1'
fastqueue_max_message_max_deliveries='1000'
fastqueue_queue_cleanup_interval_seconds='60'
