fastqueue_log_formatter='asctime=%(asctime)s level=%(levelname)s pathname=%(pathname)s line=%(lineno)s message=%(message)s'
fastqueue_log_level='debug'
fastqueue_log_json_format='false'

fastqueue_debug='true'
fastqueue_server_host='127.0.0.1'
fastqueue_server_port='8000'
fastqueue_server_reload='true'
fastqueue_server_num_workers='1'

fastqueue_database_url='postgresql+psycopg2://fastqueue:fastqueue@localhost:5432/fastqueue-test'
